<a href="https://colab.research.google.com/github/gaeju/crawling/blob/main/0201_ETF_API_JSON_input_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 라이브러리 import

In [2]:
import pandas as pd
import numpy as np
import requests

In [1]:
# 수집할 url
url = "https://finance.naver.com/api/sise/etfItemList.nhn?etfType=0&targetColumn=market_sum&sortOrder=desc"
print(url)

https://finance.naver.com/api/sise/etfItemList.nhn?etfType=0&targetColumn=market_sum&sortOrder=desc

## Pandas를 통한 요청

In [3]:
result = pd.read_json(url, encoding="cp949").loc["etfItemList", "result"]

In [4]:
pd.DataFrame(result)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,34295,5,-60,-0.17,34355.0,10.2783,1652280,56607,61628
1,357870,6,TIGER CD금리투자KIS(합성),52540,2,10,0.02,52539.0,0.8931,373084,19601,51517
2,423160,6,KODEX KOFR금리액티브(합성),103350,2,20,0.02,103345.0,0.8884,142312,14707,35929
3,273130,6,KODEX 종합채권(AA-이상)액티브,104620,2,55,0.05,104500.0,-0.4712,9329,975,29348
4,371460,4,TIGER 차이나전기차SOLACTIVE,10120,5,-10,-0.10,10142.0,-7.4041,11582592,117542,27344
...,...,...,...,...,...,...,...,...,...,...,...,...
714,433870,7,ARIRANG TDF2050액티브,10610,5,-5,-0.05,10730.0,5.6218,298,3,19
715,376250,2,ARIRANG 탄소효율그린뉴딜,8515,3,0,0.00,8546.0,10.6706,77,0,17
716,315480,2,KBSTAR 200커뮤니케이션서비스,11155,5,-50,-0.45,11221.0,1.5037,106,1,13
717,287330,2,KBSTAR 200생활소비재,5825,5,-30,-0.51,5834.0,-6.7676,522,3,13
718,287320,2,KBSTAR 200산업재,12375,5,-15,-0.12,12404.0,9.2688,6,0,12

## HTTP 요청

In [5]:
response = requests.get(url)

In [6]:
response.status_code

200

### JSON 타입으로 데이터 받기

In [7]:
# requests 의 응답을 json 타입으로 받기
etf_json = response.json()

### JSON 에서 원하는 데이터 찾기

In [8]:
# result > etfItemList 의 하위 구조로 목록을 찾고자 하는 데이터를 가져오기
etfItemList = etf_json['result']['etfItemList']

## 데이터프레임 변환

In [9]:
df = pd.DataFrame(etfItemList)
df

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,34295,5,-60,-0.17,34355.0,10.2783,1652280,56607,61628
1,357870,6,TIGER CD금리투자KIS(합성),52540,2,10,0.02,52539.0,0.8931,373084,19601,51517
2,423160,6,KODEX KOFR금리액티브(합성),103350,2,20,0.02,103345.0,0.8884,142312,14707,35929
3,273130,6,KODEX 종합채권(AA-이상)액티브,104620,2,55,0.05,104500.0,-0.4712,9329,975,29348
4,371460,4,TIGER 차이나전기차SOLACTIVE,10120,5,-10,-0.10,10142.0,-7.4041,11582592,117542,27344
...,...,...,...,...,...,...,...,...,...,...,...,...
714,433870,7,ARIRANG TDF2050액티브,10610,5,-5,-0.05,10730.0,5.6218,298,3,19
715,376250,2,ARIRANG 탄소효율그린뉴딜,8515,3,0,0.00,8546.0,10.6706,77,0,17
716,315480,2,KBSTAR 200커뮤니케이션서비스,11155,5,-50,-0.45,11221.0,1.5037,106,1,13
717,287330,2,KBSTAR 200생활소비재,5825,5,-30,-0.51,5834.0,-6.7676,522,3,13
718,287320,2,KBSTAR 200산업재,12375,5,-15,-0.12,12404.0,9.2688,6,0,12

### 데이터 확인

In [10]:
df.head()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,34295,5,-60,-0.17,34355.0,10.2783,1652280,56607,61628
1,357870,6,TIGER CD금리투자KIS(합성),52540,2,10,0.02,52539.0,0.8931,373084,19601,51517
2,423160,6,KODEX KOFR금리액티브(합성),103350,2,20,0.02,103345.0,0.8884,142312,14707,35929
3,273130,6,KODEX 종합채권(AA-이상)액티브,104620,2,55,0.05,104500.0,-0.4712,9329,975,29348
4,371460,4,TIGER 차이나전기차SOLACTIVE,10120,5,-10,-0.10,10142.0,-7.4041,11582592,117542,27344

In [11]:
df.tail()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
714,433870,7,ARIRANG TDF2050액티브,10610,5,-5,-0.05,10730.0,5.6218,298,3,19
715,376250,2,ARIRANG 탄소효율그린뉴딜,8515,3,0,0.00,8546.0,10.6706,77,0,17
716,315480,2,KBSTAR 200커뮤니케이션서비스,11155,5,-50,-0.45,11221.0,1.5037,106,1,13
717,287330,2,KBSTAR 200생활소비재,5825,5,-30,-0.51,5834.0,-6.7676,522,3,13
718,287320,2,KBSTAR 200산업재,12375,5,-15,-0.12,12404.0,9.2688,6,0,12

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 719 entries, 0 to 718
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   itemcode            719 non-null    object
 1   etfTabCode          719 non-null    int64
 2   itemname            719 non-null    object
 3   nowVal              719 non-null    int64
 4   risefall            719 non-null    object
 5   changeVal           719 non-null    int64
 6   changeRate          719 non-null    float64
 7   nav                 719 non-null    float64
 8   threeMonthEarnRate  682 non-null    float64
 9   quant               719 non-null    int64
 10  amonut              719 non-null    int64
 11  marketSum           719 non-null    int64
dtypes: float64(3), int64(6), object(3)
memory usage: 67.5+ KB

In [13]:
df.describe()

,etfTabCode,nowVal,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
count,719.000000,7.190000e+02,719.000000,719.000000,7.190000e+02,682.000000,7.190000e+02,719.000000,719.000000
mean,3.656467,2.289721e+04,-29.283727,-0.206759,2.290576e+04,6.541954,3.551714e+05,3624.591099,1365.727399
std,1.891245,4.531867e+04,94.861401,0.657641,4.532182e+04,9.132124,4.270793e+06,25500.145382,4499.667932
min,1.000000,2.030000e+03,-965.000000,-3.550000,4.400000e+01,-17.333400,0.000000e+00,0.000000,12.000000
25%,2.000000,9.192500e+03,-60.000000,-0.485000,9.216500e+03,0.787550,2.980000e+02,3.500000,76.000000
50%,4.000000,1.145000e+04,-25.000000,-0.180000,1.147500e+04,5.668350,3.879000e+03,49.000000,174.000000
75%,5.000000,1.654000e+04,10.000000,0.040000,1.657950e+04,10.809800,3.119500e+04,413.000000,663.000000
max,7.000000,1.002150e+06,350.000000,2.830000,1.002150e+06,41.369000,9.968380e+07,452307.000000,61628.000000

In [15]:
df[df['changeRate'].max() == df['changeRate']]
#changerate값이 최대인 데이터 가져오기

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
264,445150,2,KODEX K-친환경선박액티브,11790,2,325,2.83,11795.0,22.02,136850,1608,330

In [16]:
df.describe(include = 'object')

       itemcode   itemname risefall
count       719        719      719
unique      719        719        3
top      069500  KODEX 200        5
freq          1          1      470

## 파일 저장

In [17]:
#오늘 날짜를 가져와서 진행
from datetime import datetime

today = datetime.today().strftime('%y-%m-%d')
today

'23-06-20'

In [18]:
file_name = f'etf-{today}.csv'
file_name

'etf-23-06-20.csv'

### 파일로 저장하고 불러오기

In [20]:
df.to_csv(file_name, index = False)

In [21]:
df = pd.read_csv(file_name, dtype = {'itemcode':object})
df

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,34295,5,-60,-0.17,34355.0,10.2783,1652280,56607,61628
1,357870,6,TIGER CD금리투자KIS(합성),52540,2,10,0.02,52539.0,0.8931,373084,19601,51517
2,423160,6,KODEX KOFR금리액티브(합성),103350,2,20,0.02,103345.0,0.8884,142312,14707,35929
3,273130,6,KODEX 종합채권(AA-이상)액티브,104620,2,55,0.05,104500.0,-0.4712,9329,975,29348
4,371460,4,TIGER 차이나전기차SOLACTIVE,10120,5,-10,-0.10,10142.0,-7.4041,11582592,117542,27344
...,...,...,...,...,...,...,...,...,...,...,...,...
714,433870,7,ARIRANG TDF2050액티브,10610,5,-5,-0.05,10730.0,5.6218,298,3,19
715,376250,2,ARIRANG 탄소효율그린뉴딜,8515,3,0,0.00,8546.0,10.6706,77,0,17
716,315480,2,KBSTAR 200커뮤니케이션서비스,11155,5,-50,-0.45,11221.0,1.5037,106,1,13
717,287330,2,KBSTAR 200생활소비재,5825,5,-30,-0.51,5834.0,-6.7676,522,3,13
718,287320,2,KBSTAR 200산업재,12375,5,-15,-0.12,12404.0,9.2688,6,0,12